[project]
	description = Tools for developing tryton with vim
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jean Cavallo (JCavallo)
[access "refs/for/refs/*"]
	read = group user/Jean Cavallo (JCavallo)
	push = group user/Jean Cavallo (JCavallo)
	label-Code-Review = -2..+2 group user/Jean Cavallo (JCavallo)
	label-Verified = -1..+1 group user/Jean Cavallo (JCavallo)
	rebase = group user/Jean Cavallo (JCavallo)
	removeReviewer = group user/Jean Cavallo (JCavallo)
	submit = group user/Jean Cavallo (JCavallo)
[access "refs/heads/*"]
	read = group user/Jean Cavallo (JCavallo)
	create = group user/Jean Cavallo (JCavallo)
	push = +force group user/Jean Cavallo (JCavallo)
	pushMerge = group user/Jean Cavallo (JCavallo)
[access "refs/tags/*"]
	push = +force group user/Jean Cavallo (JCavallo)
	pushTag = group user/Jean Cavallo (JCavallo)
	pushSignedTag = group user/Jean Cavallo (JCavallo)
[submit]
	action = rebase if necessary
